.choicebutton { 
	-fx-background-radius: 5em; 
	-fx-min-width:150px;
	-fx-background-color: transparent;
	-fx-background-image: url("/resources/images/choice_button_default.png");
	-fx-min-height:150px; 
	-fx-max-width: 150px; 
	-fx-max-height:150px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%
}

.button:hover {
	-fx-background-image: url("/resources/images/choice_red_hover.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%
}

.button:pressed {
	-fx-background-image: url("/resources/images/choice_red_clicked.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%
}


