.stanjebutton{ 
	-fx-background-radius: 5em; 
	-fx-background-color: transparent;
	-fx-background-image: url("/resources/images/field_techician_state_default.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%
}

.button:hover {
	-fx-background-image: url("/resources/images/field_techician_state_hover.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%     
}

.button:pressed {
	-fx-background-image: url("/resources/images/field_techician_state_clicked.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%
}


