.loginbutton { 
	-fx-background-radius: 5em; 
	-fx-min-width:150px;
	-fx-background-color: transparent;
	-fx-background-image: url("/resources/images/profile_button_default.png");
	-fx-min-height: 30px; 
	-fx-max-width: 250px; 
	-fx-max-height: 50px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%
}

.button:hover {
	-fx-background-image: url("/resources/images/profile_button_hover.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%
}

.button:pressed {
	-fx-background-image: url("/resources/images/profile_button_clicked.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%
}
